#parent{
  height:60px;
  background-color: #0f1111;
  font-family:Times New Roman;
  color:White;
}
#logo{
  font-size: 25px;
  color:#f08804;
}
button{
  background-color: #f08804;
}
a{
  margin-right: 200px;
}
.g1{
  height: 100px;
  width:100px;
  border: 2px solid black;
  display:inline-block;
}
#a1{
  background-color: rgba(255,0,0,0.5);
}
#a2{
  background-color: rgba(0,255,0,0.5);
}
#a3{
  background-color: rgba(0,0,255,0.5);
}
footer{
  color:white;
  background-color: #0f1111;
  text-align: center;
}
#parent2{
  height:2267.5px;
}