*{
  margin: 0;
  border: 0;
  padding: 0;
}
body{
  background-color: #1B1B1B;
}
header{
  display: flex;
  font-size: 22px;
  justify-content: space-between;
}
#part1{
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#Email-photo{
  width: 55px;
  height: 55px;
  background-image: url('Email_photo.png');
  background-size: cover;
  border-radius: 50px;
}
header i{
  font-size: 31px;
}
#part2{
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a{
  text-decoration: none;
  color: #E8EAED;
}
.fa-solid{
  color: #E8EAED;
}