*{
  margin: 0;
  border: 0;
}
header{
  display: flex;
  font-size: 30px;
  
}
#part1{
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
}
#part2{
  width: 500px;
  height: 50px;
  display: flex;
  margin-right: 0px;
  background-color: blue;
}